

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.step-button-highlight {
  background-color: blue;
}

.step-button-plain {
  background-color: white;
}

.keyboard-key {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  border: 1px solid black;
  background-color: white;
  color: var(--primary);
  font-size: 1.5rem;
}

.keyboard-key-pressed {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  border: 1px solid black;
  background-color: var(--primary);
  color: white;
  font-size: 1.5rem;
}

.bottom-row-keys {
  margin-left: 1.5rem;
}

.key-label {
  display: block;
  margin-top: .5rem;
  padding-left: 1rem;
}

