

.App {
  text-align: center;
}

.body {
  box-sizing: border-box;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.page-header {
  color: white;
  text-align: center;
  font-family: 'Neon',Fallback, sans-serif;
 
}

.step-button-highlight {
  background-color: blue;
}

.step-button-plain {
  background-color: white;
}

.keyboard-key {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  border: 1px solid white;
  background-color: black;
  color: white;
  font-size: 1.5rem;
}

.keyboard-key-pressed {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  border: 1px solid black;
  background-color: white;
  color: black;
  font-size: 1.5rem;
}

.bottom-row-keys {
  margin-left: 1.75rem;
}

.bass-keys {
  margin-left: 1rem;
}

.key-label {
  display: block;
  margin-top: .5rem;
  padding-left: 1rem;
}

.step-row {
  display: block;
  /* height: 23%; */
  height:21%;
  margin-top: 1%;
  /* margin-left:12%; */
  width: 100%;
  
}

.step-switch {
  /* display: inline-block; */
  height: 60%;
  /* width: 4.5%; */
  width: 5%;
  /* margin-left: 1.6%; */
  margin-right: 1.1%;
  margin-top: 2%;
  border: 1.5px solid black;
  background-color: white;
  /* margin-left: 1.25%; */
}

.step-button {
  display: block;
  height: 70%;
  width: 100%;
  max-width: 100%;
  margin: auto;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
}

.light-off{
  height: .5rem;
  width: .5rem;
  font-size: .3rem;
  text-align: center;
  color: #bbb;
  background-color: #bbb;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12.5%;
  
  
}

.light-on {
  /* height: 10%;
  width: 18%; */
  height: .5rem;
  width: .5rem;
  
  border-radius: 50%;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12.5%;
  background-color: green;
}

.lead-top-panel {
  height: 30%;
  width: 100%;
  border-bottom: 1px solid white;
  padding-bottom: 2%;
  /* border: 2px solid black; */
}

.bass-top-panel {
  height: 30%;
  width: 100%;
  border-bottom: 1px solid white;
  padding-bottom: 2%;
}

.effect-button-off {
  display: inline-block;
  height:40%;
  width:65%;
  margin-left: 1rem; 
}

.effect-button-on {
  display: inline-block;
  height:40%;
  width:65%;
  margin-left: 1rem;
  color: white;
  background-color: black;
}

.drum-button-off {
  display: inline-block;
  text-align: center;
  margin-left: 8%;
  margin-top: 2%;
  height:90%;
  width:25%;
  
}

.drum-button-on {
  display: inline-block;
  text-align: center;
  margin-left: 8%;
  height:90%;
  width:25%;
  color: white;
  background-color: black;
}



.bass-effect-button-off {
  display: inline-block;
  height:40%;
  width:75%;
  margin-left: 4.5rem; 
}

.bass-effect-button-on {
  display: inline-block;
  height:40%;
  width:75%;
  margin-left: 4.5rem;
  color: white;
  background-color: black;
}


.click-screen-message-visible {
  display: inline-block;
  margin-left: 1rem;
  visibility: visible;
  font-size: .9rem;
  
}

.click-screen-message-hidden {
  display: inline-block;
  margin-left: 1rem;
  visibility: hidden;
  font-size: .9rem;
}


.delay-division-off {
  background-color: white;
  color: black;
  height: 96%;
  width: 22%; 
  margin-left: 20%;
}

.delay-division-on {
  background-color: black;
  color: white;
  height: 96%;
  width: 22%; 
  margin-left: 20%;
}

@font-face {
  font-family: 'Neon';
 
  src: url('./Neon.ttf')  format('truetype')
      
}

.synth-title {
  height:12%;
  padding-top:2%;
  padding-left:3%;
  font-family: 'Neon',Fallback, sans-serif;
  color: #fff;
  text-shadow:
  0 0 12px #fff,
  0 0 20px #fff,
  0 0 102px #9d00ff,
  0 0 151px #9d00ff,
  0 0 100px #66128c,
  0 0 150px #66128c;
}

.drum-title {
  display: inline-block;
  height:90%;
  padding-top:3%;
  padding-left:4%;
  font-family: 'Neon',Fallback, sans-serif;
  color: #fff;
  text-shadow:
  0 0 12px #fff,
  0 0 20px #fff,
  0 0 102px #9d00ff,
  0 0 151px #9d00ff,
  0 0 100px #66128c,
  0 0 150px #66128c
}
